<nav class="navbar-lewagon navbar-light bg-light d-flex">
  <a class="navbar-brand align-self-center ml-3" href="#">
  <%= image_tag "ludinlogo.png", alt: "Le Wagon" %>
  </a>
<div class="right-stuff mr-3 align-self-center">
  <button class="btn-nav mr-3" type="button">Sign-in</button>
  <button class="btn-nav mr-3" type="button">Sign-up</button>
  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sebmcreations" />
</div>

  </nav>
