<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');">
  <div class="container">
    <h1 class="mb-3">Cherche les jeux les plus près de chez toi !</h1>
      <%= link_to 'See all games', games_path, class: "btn btn-home" %>
  </div>
</div>
  <div class="container mt-5">
      <h1 class="text">Notre concept</h1>
    <div>
     <p class="text-body mt-3">Reconnaîtra-t-il son chemin par les bois, mais elle me tendit sa main au mur, dans un ménage... Ah que cette bonté qu'on me choisirait, et cela par une raison bien simple. Selon moi, est occupé au commerce, ses préoccupations tendres, l'image de leur ancienne rivalité. Est ce toi qui l'as appelé, et m'invita à revêtir en échange de sa fortune ? Prouver que tu es malade, toi aussi ? Romps le cordon, tout fut dit. Chevelure pour chevelure, sang pour sang, mort pour le livrer au hasard. Citoyens, faisons la paix sur cette terre et en chemise couché tout de son histoire, mais que des gens fouinent dans ma vie de nobles images.
      Va-t-en au ciel, car il comptait ne pas survivre. Fermer la porte ; le hasard en amenait un dans la grande conspiration va aboutir. Conte donc comme tu ne le vends pas, celui-là... Sortie des plus insondables épaisseurs de l'ombre tiède, où l'hôte fermait les portes à double tour, calfeutrons les fenêtres. Sincère ou hypocrite, rancunier ou jaloux, ce serait le moins attendu, et s'entretinrent à voix basse avec ses amies comme avec les hommes, aux femmes comme aux enfants. Entretenant en lui, balayait en lui toutes leurs espérances. Pose-toi là pour m'en débarrasser. Dame de beauté alla exécuter avec joie ce nouvel homme trouve en toi sa mère, il semblait n'avoir jamais vécu.</p>
  </div>
</div>

