<div class="container">
 <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1 class="h1-rental mt-4">Edit your add</h1>
      <h1 class="ligne"> </h1>
      <%= render 'form', game: @game %>

    </div>
  </div>
</div>
