.dashboard {
  h1 {
  }
}

// ******************game card**********************************

.dashboard-game-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-game-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.dashboard-game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dashboard-game-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dashboard-game-card .game-card-infos {
  padding: 16px;
}

.dashboard-game-card:hover .actions {
  opacity: 1;
}


// ******************rental card**********************************

.dashboard-rental-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-rental-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.dashboard-rental-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dashboard-rental-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dashboard-rental-card .rental-card-infos {
  padding: 16px;
}

.dashboard-rental-card:hover .actions {
  opacity: 1;
}

// ******************user card**********************************

.user-infos {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img{
    width: auto;
    height: 150px;
  }
}

.gradient{
  border: 1px solid;
  border-image: linear-gradient(#EECDA3, #EF629F) 40;
}

.user-infos .infos-left {
  flex-grow: 1;
  padding: 0 24px;
}

.user-infos p {
  margin: 0;
  line-height: 1.4;
}

.user-infos small {
  color: #999999;
  font-weight: bold;
}

.actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.user-infos:hover .actions {
  opacity: 1;
}

.actions a {
  font-family: 'ubuntu';
  color: pink;
  margin-left: 16px;
  font-size: 14px;
}

.actions a:hover {
  color: pink;
}

