.games-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  flex-grow: 1;
}

.game-card:hover {
  border : solid 2px white;
}

.game-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-text: left;
}

.game-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.game-card > img:hover {
  filter: blur(1px);
}

.h1-rental {
color: black;
font-family: 'ubuntu';
font-weight: bold;
}

.ligne {
border-bottom: solid 1px grey;
}

.game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.game-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.game-card .game-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.game-card-infos .game-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
