.text {
  font-family: 'ubuntu';
  // color: #EF629F;
  // font-weight: bold;
  // text-align: center;
  // background: linear-gradient(90deg, #EECDA3 0%, #EF629F 100%);
  // width: 300px;
  // margin: auto;
  // border-radius: 5px;
}

.text-body {
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
}

.page {
  min-height: calc(100vh - 160px);
}


// .form-control{
//   width:800px;
// }


.space-up{
  margin-top: 25px;
}
